[Base]
text            = {{ colors.onSurface }}
subtext         = {{ colors.onSurfaceVariant }}
main            = {{ colors.surface }}
sidebar         = {{ colors.surfaceVariant }}
player          = {{ colors.surfaceHigh }}
card            = {{ colors.surfaceLow }}
shadow          = {{ colors.outlineVariant }}
selected-row    = {{ colors.primary }}
button-active   = {{ colors.primary }}
button          = {{ colors.primary }}
button-text     = {{ colors.onPrimary }}
tab-active      = {{ colors.primary }}
notification    = {{ colors.secondary }}
misc            = {{ colors.outline }}

[Dark]
text            = {{ dark.onSurface }}
subtext         = {{ dark.onSurfaceVariant }}
main            = {{ dark.surface }}
sidebar         = {{ dark.surfaceVariant }}
player          = {{ dark.surfaceHigh }}
card            = {{ dark.surfaceLow }}
selected-row    = {{ dark.primary }}
button-active   = {{ dark.primary }}
button          = {{ dark.primary }}
button-text     = {{ dark.onPrimary }}
tab-active      = {{ dark.primary }}

[Light]
text            = {{ light.onSurface }}
subtext         = {{ light.onSurfaceVariant }}
main            = {{ light.surface }}
sidebar         = {{ light.surfaceVariant }}
player          = {{ light.surfaceHigh }}
card            = {{ light.surfaceLow }}
selected-row    = {{ light.primary }}
button-active   = {{ light.primary }}
button          = {{ light.primary }}
button-text     = {{ light.onPrimary }}
tab-active      = {{ light.primary }}

